# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/
cache/

# MyPy
.mypy_cache/

# PyCharm
.idea/
*.iml

# VS Code
.vscode/

# Pyre type checker
.pyre/

# Data
*.db
*.sqlite

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db  